
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    

}

.navbar_custom{
    background-color: midnightblue
}

.background_custom{
    background-color: lightpink
}


.container_custom{
    background-color: white
}

.image_custom{
    width:80%;
    height:auto;
}

#wubbalubbadubdub{
    color: white

}
